@import 'reset';

$border: 1px solid #ccc;
$background-color: #4d4d4d;
$height: 100px;

.wrap{
  margin: auto;
  border: $border;
  .content{
    border: $border;
    height: auto;
  }
  .side_bar{
    border: $border;
    height: 800px;
  }
  .one-site{
    height: 400px;
    padding-top: 15px;
  }
  h1{
    font-size: 2em;
  }
}

.header{
  background-color: $background-color;
  height: $height;
  .logo{
    margin-top: 25px;
    margin-left: 10px;
  }
  .logo a{
    color: #fff;
  }
}

.footer{
  background-color: $background-color;
  height: $height;
  div{
    display: inline-block;
    padding: 35px 15px;
    a{
      color: #fff;
    }
  }
}

.site{
  background-color:#4d4d4d;
  img{
    margin-top: 50px;
    height: 30px;
  }
}

li{
  display: inline;
}

.title{
  bottom: 1.5em;
  color: #fff;
}

.description{
  bottom: 1em;
  height: 100px;
}
.tags-ul {
  a.tag{
    font-size: 0.9em;
    margin: 10px 10px;
  }
}

[ng-class|="aliexpress"], [ng-class|="rift"]{
  img{
    height: 64px;
  }
}
[ng-class|="vrnews"]{
  img{
    height: 50px;
  }
}


