/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrap {
  margin: auto;
  border: 1px solid #ccc; }
  .wrap .content {
    border: 1px solid #ccc;
    height: auto; }
  .wrap .side_bar {
    border: 1px solid #ccc;
    height: 800px; }
  .wrap .one-site {
    height: 400px;
    padding-top: 15px; }
  .wrap h1 {
    font-size: 2em; }

.header {
  background-color: #4d4d4d;
  height: 100px; }
  .header .logo {
    margin-top: 25px;
    margin-left: 10px; }
  .header .logo a {
    color: #fff; }

.footer {
  background-color: #4d4d4d;
  height: 100px; }
  .footer div {
    display: inline-block;
    padding: 35px 15px; }
    .footer div a {
      color: #fff; }

.site {
  background-color: #4d4d4d; }
  .site img {
    margin-top: 50px;
    height: 30px; }

li {
  display: inline; }

.title {
  bottom: 1.5em;
  color: #fff; }

.description {
  bottom: 1em;
  height: 100px; }

.tags-ul a.tag {
  font-size: 0.9em;
  margin: 10px 10px; }

[ng-class|="aliexpress"] img, [ng-class|="rift"] img {
  height: 64px; }

[ng-class|="vrnews"] img {
  height: 50px; }
